.card {
  border-radius: 0.5rem;
  overflow: hidden; }
  .card .card-content {
    text-align: justify; }
  .card .card-title {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 1rem !important; }
  .card .card-action {
    display: flex;
    margin-top: 1rem; }
    .card .card-action a {
      width: 100%;
      margin-right: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center; }
      .card .card-action a .icon {
        color: #01579b;
        font-size: 1.5rem; }

.bold {
  font-weight: bold; }

#skills-container .logo {
  padding: 0.5rem;
  height: 6rem;
  filter: grayscale(100%);
  transition: all 200ms; }
  @media (max-width: 600px) {
    #skills-container .logo {
      filter: grayscale(0%); } }
  #skills-container .logo:hover {
    filter: grayscale(0%); }

.work p {
  text-align: justify; }

.work .footer {
  width: 12rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .work .footer .logo {
    width: 100%;
    cursor: pointer;
    margin-bottom: 0.5rem; }
  .work .footer .social-networks {
    display: flex;
    align-items: center; }
    .work .footer .social-networks a {
      margin-right: 1rem;
      filter: grayscale(100%);
      transition: all 200ms; }
      .work .footer .social-networks a:last-child {
        margin-right: 0; }
      .work .footer .social-networks a:hover {
        filter: grayscale(0%); }
      .work .footer .social-networks a .icon {
        cursor: pointer;
        font-size: 1.5rem; }
        .work .footer .social-networks a .icon.fa-facebook-square {
          color: #0d47a1; }
        .work .footer .social-networks a .icon.fa-twitter-square {
          color: #00b0ff; }
        .work .footer .social-networks a .icon.fa-instagram {
          color: #880e4f; }
        .work .footer .social-networks a .icon.fa-linkedin-square {
          color: #1e88e5; }
        .work .footer .social-networks a .icon.fa-youtube-square {
          color: #d50000; }

.tags {
  color: #01579b;
  font-size: 0.75rem;
  margin-bottom: 1rem; }
